:root {
    --shadow : rgba(255, 255, 255, 0.80);
    --solid : rgb(46, 113, 150);
}
* {
    box-sizing: border-box;
    backface-visibility: hidden;
}
body {
    background-color: rgb(0, 0, 0);
    color: white;
}
header {
    margin-top: 40px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}
.corner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 0px 0px 100% 0px;
    padding: 5px;
    color: black;
}
.set {
    position: absolute;
    top: 220px;
    left: 150px;
    width: 60%;
    height: 60%;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 45px solid rgb(54, 9, 9);
    box-shadow: 0px -10px 40px 0px rgb(255, 255, 255);
    /* this background pattern "Starry night" courtesy of projects.verou.me/css3patterns/ */
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
     
}
.box {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.466);
}
.box::before {
    position: absolute;
    content: 'Click me!';
    top: 20px;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: rgba(64, 224, 208, 0.61);
    text-align: center;
    line-height: 80px;
}
.cat {
    position: absolute;
    top: 280px;
    left: 180px;
}

    /* cat pieces */
.piece {
    position: absolute;
    width: 80px;
    height: 80px;
}
.piece::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    box-shadow: 10px -10px 15px -5px var(--shadow);
}
.piece::after {
    position: absolute;
    content: '';
    top: -30px;
    left: 10px;
    width: 135px;
    height: 80px;
    box-shadow: -5px 25px 15px -20px var(--shadow);
    transform: rotate(45deg);
}
.solidPiece {
    position: absolute;
    left: 10px;
    border-right: 70px solid var(--solid);
    border-bottom: 70px solid transparent;
}


    /* cat */
    /* head */
.cat :nth-child(1) {
    top: 120px;
    left: 320px;
    transform: rotate(250deg) scale(.4);
}
.cat :nth-child(2) {
    top: 135px;
    left: 315px;
    transform: rotate(50deg) scale(.4);
}
.cat :nth-child(3) {
    top: 160px;
    left: 330px;
    transform: rotate(45deg) scale(.3);
}
.cat :nth-child(4) {
    top: 160px;
    left: 315px;
    transform: rotate(90deg) scale(.3);
}
.cat :nth-child(5) {
    top: 150px;
    left: 290px;
    transform: rotate(70deg) scale(.5);
}
.cat :nth-child(6) {
    top: 130px;
    left: 280px;
    transform: rotate(-20deg) scale(.4);
}
.cat :nth-child(7) {
    top: 150px;
    left: 260px;
    transform: rotate(30deg) scale(.65);
}

    /* body */
.cat :nth-child(8) {
    top: 140px;
    left: 225px;
    transform: rotate(10deg) scale(.55);
}
.cat :nth-child(9) {
    top: 165px;
    left: 270px;
    transform: rotate(210deg) scale(.55);
}
.cat :nth-child(10) {
    top: 160px;
    left: 200px;
    transform: rotate(-30deg) scale(.80);
}
.cat :nth-child(11) {
    top: 190px;
    left: 200px;
    transform: rotate(20deg) scale(.70);
}
.cat :nth-child(12) {
    top: 115px;
    left: 150px;
    transform: rotate(145deg) scale(.70);
}
.cat :nth-child(13) {
    top: 200px;
    left: 160px;
    transform: rotate(-30deg) scale(.90);
}
.cat :nth-child(14) {
    top: 150px;
    left: 80px;
    transform: rotate(-15deg) scale(.85);
}
.cat :nth-child(15) {
    top: 180px;
    left: 60px;
    transform: rotate(280deg) scale(.75);
}
.cat :nth-child(16) {
    top: 200px;
    left: 90px;
    transform: rotate(-40deg) scale(.7);
}
.cat :nth-child(17) {
    top: 210px;
    left: 200px;
    transform: rotate(170deg) scale(.45);
}
.cat :nth-child(18) {
    top: 225px;
    left: 150px;
    transform: rotate(-20deg) scale(.55);
}
.cat :nth-child(19) {
    top: 220px;
    left: 140px;
    transform: rotate(150deg) scale(.45);
}
.cat :nth-child(20) {
    top: 240px;
    left: 90px;
    transform: rotate(-20deg) scale(.55);
}

    /* leg 1 */
.cat :nth-child(21) {
    top: 210px;
    left: 250px;
    transform: rotate(10deg) scale(.5);
}
.cat :nth-child(22) {
    top: 215px;
    left: 250px;
    transform: rotate(180deg) scale(.5);
}
.cat :nth-child(23) {
    top: 240px;
    left: 270px;
    transform: rotate(140deg) scale(.35);
}
.cat :nth-child(24) {
    top: 225px;
    left: 285px;
    transform: rotate(190deg) scale(.30);
}
.cat :nth-child(25) {
    top: 265px;
    left: 295px;
    transform: rotate(-40deg) scale(.4);
}
.cat :nth-child(26) {
    top: 280px;
    left: 310px;
    transform: rotate(-10deg) scale(.35);
}

    /* leg 2 */
.cat :nth-child(27) {
    top: 230px;
    left: 210px;
    transform: rotate(120deg) scale(.35);
}
.cat :nth-child(28) {
    top: 260px;
    left: 190px;
    transform: rotate(30deg) scale(.35);
}
.cat :nth-child(29) {
    top: 290px;
    left: 210px;
    transform: rotate(-35deg) scale(.30);
}

    /* leg 3 */
.cat :nth-child(30) {
    top: 220px;
    left: 65px;
    transform: rotate(290deg) scale(.55);
}
.cat :nth-child(31) {
    top: 210px;
    left: 20px;
    transform: rotate(80deg) scale(.4);
}
.cat :nth-child(32) {
    top: 230px;
    left: 25px;
    transform: rotate(130deg) scale(.35);
}
.cat :nth-child(33) {
    top: 245px;
    left: 15px;
    transform: rotate(200deg) scale(.30);
}
.cat :nth-child(34) {
    top: 270px;
    left: -5px;
    transform: rotate(20deg) scale(.30);
}
.cat :nth-child(35) {
    top: 280px;
    left: 0px;
    transform: rotate(190deg) scale(.35);
}

    /* leg 4 piece */
.cat :nth-child(36) {
    top: 255px;
    left: 70px;
    transform: rotate(-80deg) scale(.45);
}
.cat :nth-child(37) {
    top: 260px;
    left: 70px;
    transform: rotate(90deg) scale(.35);
}
.cat :nth-child(38) {
    top: 285px;
    left: 90px;
    transform: rotate(160deg) scale(.30);
}

    /* tail */
.cat :nth-child(39) {
    top: 95px;
    left: 55px;
    transform: rotate(170deg) scale(.45);
}
.cat :nth-child(40) {
    top: 80px;
    left: 45px;
    transform: rotate(0deg) scale(.45);
}
.cat :nth-child(41) {
    top: 40px;
    left: 45px;
    transform: rotate(180deg) scale(.40);
}
.cat :nth-child(42) {
    top: 30px;
    left: 35px;
    transform: rotate(0deg) scale(.35);
}
.cat :nth-child(43) {
    top: 0px;
    left: 45px;
    transform: rotate(200deg) scale(.35);
}
.cat :nth-child(44) {
    top: -10px;
    left: 40px;
    transform: rotate(30deg) scale(.4);
}

    /* animations */
    /* click me */
.box:hover::before {
    color: rgb(116, 26, 11);
    font-weight: 900;
}
.box:active::before {
    transform: translateY(-20px);

}
.piece:hover {
    box-shadow: 0px 0px 10px 0px rgba(64, 224, 208, 0);
}

    /* cat */

    /* leg 1 animation */
.cat :nth-child(21):active {
    transform: rotate(10deg) scale(.5);
    animation: leg1c21 3s linear infinite;
}
@keyframes leg1c21 {
    100% {
        transform: rotate(40deg) translateX(-5px) rotate(10deg) scale(.5);
    }
}
.cat :nth-child(22):active {
    transform: rotate(180deg) scale(.5);
    animation: leg1c22 3s linear infinite;
}
@keyframes leg1c22 {
    100% {
        transform: translateX(-5px) rotate(30deg) rotate(180deg) scale(.5);
    }
}
.cat :nth-child(23):active {
    transform: rotate(140deg) scale(.35);
    animation: leg1c23 3s linear infinite;
}
@keyframes leg1c23 {
    100% {
        transform: translateX(-15px) rotate(20deg) rotate(140deg) scale(.35);
    }
}
.cat :nth-child(24):active {
    transform: rotate(190deg) scale(.30);
    animation: leg1c24 3s linear infinite;
}
@keyframes leg1c24 {
    100% {
        transform: translateX(-15px) rotate(30deg) rotate(190deg) scale(.30);
    }
}
.cat :nth-child(25):active { 
    transform: rotate(-40deg) scale(.4);
    animation: leg1c25 2s linear infinite;
}
@keyframes leg1c25 {
    100% {
        transform: translateY(10px) translateX(-20px) rotate(30deg) rotate(-40deg) scale(.4);
    }
}
.cat :nth-child(26):active {
    transform: ;
    animation: leg1c26 2s linear infinite;
}
@keyframes leg1c26 {
    20% { 
        transform: translateX(-15px) translateY(5px) rotate(-10deg) scale(.35);
    }
    40% {
        transform: translateY(10px) rotate(-30deg) rotate(-10deg) scale(.35);
    }
    100% {
        transform: translateY(15px) translateX(-20px) rotate(-20deg)  rotate(-10deg) scale(.35);
    }
}

    /* leg 2 animation */
.cat :nth-child(27):active {
    transform: rotate(120deg) scale(.35);
    animation: leg2c27 2.5s linear infinite;
}
@keyframes leg2c27 {
    100% {
        transform: translateX(-10px) rotate(20deg) rotate(120deg) scale(.35);
    }
}
.cat :nth-child(28):active {
    transform: rotate(30deg) scale(.35);
    animation: leg2c28 2s linear infinite;
}
@keyframes leg2c28 {
    100% { 
        transform: translateX(-10px) rotate(20deg) rotate(30deg) scale(.35);
    }
}
.cat :nth-child(29):active {
    transform: rotate(-35deg) scale(.30);
    animation: leg2c29 2s linear infinite;
}
@keyframes leg2c29 {
    100% {
        transform: translateX(-15px) rotate(-10deg) rotate(-35deg) scale(.30);
    }
}

    /* leg 3 animation */
.cat :nth-child(30):active {
    transform: rotate(290deg) scale(.55);
    animation: leg3c30 3s linear infinite;
}
@keyframes leg3c30 {
    100% {
        transform:  translateX(10px) rotate(-30deg) rotate(290deg) scale(.55);
    }
}
.cat :nth-child(31):active {
    transform: rotate(80deg) scale(.4);
    animation: leg3c31 3s linear infinite;
}
@keyframes leg3c31 {
    100% {
        transform: translateY(10px) translateX(10px) rotate(-10deg) rotate(80deg) scale(.4);
    }
}
.cat :nth-child(32):active {
    transform: rotate(130deg) scale(.35);
    animation: leg3c32 3s linear infinite;
}
@keyframes leg3c32 {
    100% {
        transform: translateX(15px) rotate(-20deg) rotate(130deg) scale(.35);
    }
}
.cat :nth-child(33):active {
    transform: rotate(200deg) scale(.30);
    animation: leg3c33 3s linear infinite;
}
@keyframes leg3c33 {
    100% {
        transform: translateX(15px) translateY(10px) rotate(-20deg) rotate(200deg) scale(.30);
    }
}
.cat :nth-child(34):active {
    transform: rotate(20deg) scale(.30);
    animation: leg3c34 3s linear infinite;
}
@keyframes leg3c34 {
    100% {
        transform: translateX(40px) translateY(10px) rotate(-20deg) rotate(20deg) scale(.30);
    }
}
.cat :nth-child(35):active {
    transform: rotate(190deg) scale(.35);
    animation: leg3c35 2s linear infinite;
}
@keyframes leg3c35 {
    100% { 
        transform: translateX(30px) translateY(10px) rotate(-20deg) rotate(190deg) scale(.35);
    }
}

    /* leg 4 animation */
.cat :nth-child(36):active {
    transform: rotate(-80deg) scale(.45);
    animation: leg4c36 3s linear infinite;
}
@keyframes leg4c36 {
    100% {
        transform: translateX(-10px) rotate(20deg) rotate(-80deg) scale(.45);
    }
}
.cat :nth-child(37):active {
    transform: rotate(90deg) scale(.35);
    animation: leg4c37 2s linear infinite;
}
@keyframes leg4c37 {
    100% {
        transform: translateX(-10px) rotate(20deg) rotate(90deg) scale(.35);
    }
}
.cat :nth-child(38):active {
    transform: rotate(160deg) scale(.30);
    animation: leg4c38 2s linear infinite;
}
@keyframes leg4c38 {
    100% {
        transform: translateX(-20px) translateY(5px) rotate(20deg) rotate(160deg) scale(.30);;
    }
}